/* Контейнер для лайков */
.card__like-container {
  display: flex; /* Используем Flexbox */
  flex-direction: column; /* Размещаем элементы вертикально */
  align-items: center; /* Центрируем элементы по центру */
}

/* Иконка лайка */
.card__like-button {
  width: 21px;
  height: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: 0.3s; /* Упрощаем запись transition */
}

.card__like-button:hover {
  opacity: 0.6;
}

/* Счетчик лайков */
.card__like-counter {
  font-size: 12px; /* Размер текста */
  color: #000; /* Цвет текста */
  margin-top: 4px; /* Отступ сверху для размещения под иконкой */
}